   body {
     background-color: #E4F4FB;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
   }

   .topnav {
     overflow: hidden;
     background-color: #0022ae;

   }

   .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 14px;
     align-items: center;
   }

   .topnav a:hover {
     background-color: #82aeff;
     color: black;
   }

   .topnav a.active {
     background-color: #355bf7;
     color: white;
   }

   .topnav .icon {
     display: none;
   }

   @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {display: none;}
     .topnav a.icon {
       float: right;
       display: block;
     }
   }

   @media screen and (max-width: 600px) {
     .topnav.responsive {position: relative;}
     .topnav.responsive .icon {
       position: absolute;
       right: 0;
       top: 0;
     }
     .topnav.responsive a {
       float: none;
       display: block;
       text-align: left;
     }
   }

tr:nth-child(even){background-color: silver}
table {
     border: 1.5px solid black;
     border-collapse: collapse;
     border-spacing: 0;
     width: 90%;
   }

td {
     border: 1px solid black;
     text-align: center;
     padding: 8px;
     background-color: white;
   }
th{
     border: 1px solid black;
     text-align: center;
     padding: 8px;
     background-color: grey;
   }
.button, input[type=submit] , input[type=reset] {
  padding: 12px 12px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #666;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #999;
}

#pie {
  text-align:center;
  margin-top:50px;
}

#pie input[type=submit] {
  color: #000;
  background-color: #fff;
} 

.button:hover, input[type=reset]:hover, input[type=submit]:hover {background-color: silver}

.button:active {
  background-color: grey;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
#pag6 {
  text-align:left;
  margin-left: 25%;
}
#pag5 {
  text-align:left;
  margin-left: 35%;
}


